* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.container{
  width:800px;
  
  background-color: aliceblue;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: repeat(5,1fr);
}
.header{
  background-color: rgb(78, 133, 93);
  grid-column: 1/6;
  color: aliceblue;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding: 20px;
  border-bottom: 1px solid #343a40;
  
}

.Width{
  background-color: rgb(255, 255, 255);
  grid-column: 1/6;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding: 20px;
  border-bottom: 1px solid #343a40;
}
.Height{
  background-color: rgb(232, 230, 230);
  grid-column: 1/6;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding: 20px;
  border-bottom: 1px solid #343a40;
}
.Depth{
  background-color: rgb(255, 255, 255);
  grid-column: 1/6;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding: 20px;
  border-bottom: 1px solid #343a40;
}
.Weight{
  background-color: rgb(232, 230, 230);
  grid-column: 1/6;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding: 20px;
  border-bottom: 1px solid #343a40;
  
}
